<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<html>

	<body>

		<div class="panel panel-default">
			<div class="panel-body">
			<h2>Login:</h2>

			<form>
				<div class="input-group">
  					<input type="text" class="form-control" placeholder="username" aria-describedby="basic-addon3" name="user[username]">
  					<span class="input-group-addon" id="basic-addon2">@test2.com</span></br>
				</div>
  				<input type="password" class="form-control" placeholder="password" aria-describedby="basic-addon3" name="user[password]">

				<button type="button" class="btn btn-default navbar-btn">Send</button>
			</form>
			</div>
		</div>
	</body>
</html>
